# General project files
out/
tags
output
output.txt
isodir
grub.cfg
serial.log
qemu_log.txt
compile_commands.json

# Test files
tests/a.out
tests/out*

# Vim swap files
*.swp
*.swo
*.swm

# Mac files
.DS_Store
